In [ ]:
'''
Q1.Write a Python program to print your name and favourite colour on two.
separate lines.
'''

In [1]:
print("DEVESH \nBLACK & WHITE")

DEVESH
BLACK & WHITE

In [ ]:
# Q2. Write a Python program that prints the result of adding 7 and 8.

In [2]:
7+8

15

In [ ]:
#Q3. Use the print function to display the following text exactly as it is:

In [6]:
print("""Python is fun!
Let's learn together.""")

Python is fun!
Let's learn together.

In [ ]:
'''Q4. Write a Python program to calculate and print the result of multiplying 6 by
9.'''

In [7]:
6*9

54

In [ ]:
'''Q5. Write a Python program that prints the result of adding 5 + 5 and
multiplying 2 * 3 in a single line of code.,,,

In [8]:
5+5,2*3

(10, 6)

In [ ]:
'''A. Take the name A as input from the user and print "Hello A", where A is
the name in input.'''

In [9]:
name = input("Enter your name: ")
print("Hello " + name)

Enter your name:  A

Hello A

In [ ]:
'''B. You have x rupees in your savings. You google pay y rupees, print your
bank balance'''

In [12]:
balance = 1000
gpay = 40
balance = balance- gpay
print(balance)

960

In [ ]:
'''C. Print the first five letters of the English alphabet i.e. A, B, C, D and E.
one below each other'''

In [16]:
print("A \nB \nC \nD \nE")

A
B
C
D
E

In [ ]:
''' D. Take two names A and B as input from the user, and print "A says Hi to
B" (Without quotations), where A and B are the names in input.'''

In [17]:
name1 = input("Enter your name: ")
name2 = input("Enter your name: ")
print (name1,"says hi to",name2)

Enter your name:  A
Enter your name:  B

A says hi to B