In [ ]:
'''Question 1:
Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.'''

In [5]:
age = 24
print (age,"Type:",type(age))

24 Type: <class 'int'>

In [4]:
'''Question 2:
Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?'''

'Question 2:\nAssign the number 12.5 to a variable price . Print both the variable and its\ndata type. Then assign the value 12 to the same variable and print its data\ntype again. What do you observe?'

In [5]:
price = 12.5 
print( price, "Type:", type(price))

price = 12
print( price, "Type:", type(price))

12.5 Type: <class 'float'>
12 Type: <class 'int'>

In [ ]:
'''Question 3:
Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type.'''

In [10]:
is_raining = True 
print( is_raining, "Type:", type(is_raining))

is_raining = False
print( is_raining, "Type:", type(is_raining))

True Type: <class 'bool'>
False Type: <class 'bool'>

In [ ]:
'''Question 4:
Create a variable my_name and store your full name in it as a string. Then
print the value of my_name using single quotes ' .'''

In [13]:
my_name = "Devesh Chaudhari"
print ("'",my_name,"'")

' Devesh Chaudhari '

In [ ]:
'''Question 5:
Write a Python program that asks the user for their name and age using the
input() function. Store the inputs in variables and print a sentence like
"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
integer.'''

In [26]:
name = input("Enter your Name")
age = int(input("Enter your Age"))
print ("Hello!", name,"You are",age,"years old" )

Enter your Name Devesh
Enter your Age 24

Hello! Devesh You are 24 years old

In [ ]:
'''Question 6:
Create two variables x and y and assign them the values 10 and 3.5 ,
respectively. Print their values and types. Then, create a new variable
sum_xy and store the sum of x and y . Print the result and its type.'''

In [31]:
x = 10
y = 3.5
print (x,"Type:",type(x))
print (y,"Type:",type(y))
sum_xy = x+y
print(sum_xy,"Type:",type(sum_xy))

10 Type: <class 'int'>
3.5 Type: <class 'float'>
13.5 Type: <class 'float'>

In [ ]:
'''Question 7:
Using the type() function, check and print the data type of the following:
45.0
"hello"
None
False'''

In [62]:
print(45.0,"Datatype of 45.0 is:", type(45.0))
print("hello","Datatype of hello is:",type("hello"))
print(None,"Datatype of None is:",type(None))
print(False,"Datatype of False is:",type(False))

45.0 Datatype of 45.0 is: <class 'float'>
hello Datatype of hello is: <class 'str'>
None Datatype of None is: <class 'NoneType'>
False Datatype of False is: <class 'bool'>

In [ ]:
'''Question 8:
Write a Python program to print three strings "apple" , "banana" , and "cherry"
on the same line, separated by a space. Then modify the program to
separate the strings using a comma , instead of a space.'''

In [56]:
fruits = ("Apple","Banana","Cherry")
print ("Apple,","Banana,","Cherry")

Apple, Banana, Cherry

In [ ]:
'''Question 9: Create a variable big_number and assign it a very large integer value (e.g.,
987654321987654321 ). Print the value and its type. What do you notice about
the size of the number?'''

In [57]:
big_number = 987654321987654321
print(big_number)
print(type(big_number))

987654321987654321
<class 'int'>

In [ ]:
'''Question 10. Write a Python program that prints the result of multiplying two floats (e.g.,
2.5 and 3.7 ). Then check and print the data type of the result.'''

In [61]:
num1 = 2.5
num2 = 3.7
result = num1 * num2
print(result)
print("Data type :", type(result))

9.25
Data type : <class 'float'>